    html {
      box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: "Helvetica Neue", sans-serif;
      background-image: url('https://image.ibb.co/eDoc0e/bg_lights.png');
    }
    
    .app {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      min-height: 400px;
      background-color: white;
      border-radius: 5px;
    }
    
    .quotes {
      padding: 20px 50px;
    }
    
    .quote-text {
      padding: 20px 0px 20px 0px;
      font-size: 25px;
    }
    
    .controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 50px;
    }
    
    .button {
      display: block;
      font-size: 18px;
      color: white;
      border-radius: 4px;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    
    .tweet { /* Tweet Button */
      background-color: #1da1f2;
      text-decoration: none;
    }
    
    .new-quote { /* New Quote Button */
      background-color: #ad9d9d;
      font-size: 18px;
    }
    
    @media screen and (max-width: 600px) {
      .app {
        width: 100%;
      }
      .quote-text {
        font-size: 18px;
      }
    }